@using MVC.ViewModels;

@model OutcomeViewModel

@using (Html.BeginForm("Join", "Bet", FormMethod.Post))
{
    <h2>
        @Html.DisplayFor(m => m.Name)
        @Html.HiddenFor(m => m.Id, new { Value = Model.Id })
    </h2>
    <button type="submit" class="btn btn-raised btn-primary">Join</button>
}
