@using MVC.ViewModels;

@model OutcomeViewModel

@using (Html.BeginForm("Join", "Bet", FormMethod.Post))
{
    <h4 class="visible-xs">
        @Html.DisplayFor(m => m.Name)
    </h4>
    <h1 class="hidden-xs">
        @Html.DisplayFor(m => m.Name)
    </h1>
    @Html.HiddenFor(m => m.Id, new { Value = Model.Id })
    <button type="submit" class="btn btn-raised btn-primary">Join</button>
}
