@model  MVC.ViewModels.InviteToLobbyViewModel

<div class="col-md-5">
    @using (Html.BeginForm("Invite", "Lobby", FormMethod.Post))
    {
        <div class="row form-group label-floating">
            @Html.LabelFor(m => m.Username, new {@class = "control-label"})
            @Html.TextBoxFor(m => m.Username, new {@class = "form-control"})
            @Html.ValidationMessageFor(m => m.Username)
        </div>
        @Html.HiddenFor(m => m.Id)
        <button type="submit" class="btn btn-primary">Invite User to Lobby</button>
    }
</div>

@section Scripts
{
    <script>
        $(document).ready(findErrorTags);
    </script>
}
