
<p><b>Oops! The username or password you have entered is invalid</b></p><br/>
<div class="panel-body">
    <img src="~/Content/images/sad-xxl.png" alt="" style="width: 20%" />
</div>
<p><b>Please try again</b></p>