<ul class="nav navbar-nav navbar-right">
    <li>
        @Html.ActionLink(User.Identity.Name, "Index", "User")
    </li>
    <li>
        @Html.ActionLink("Sign out", "SignOut", "Authentication")
    </li>
</ul>
