

@{
    ViewData["Title"] = "Error Not Found";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron jumbotron-danger">
                <h1>
                    404
                </h1>

                <p>
                    The requested resource was not found.
                </p>
            </div>
        </div>
    </div>
</div>
