

@using FrontendMVC.ViewModels;

@{
    ViewData["Title"] = "Lobby Page";
}

@model CreateLobbyViewModel

<div class="container">
    <form asp-controller="CreateLobby" asp-action="post">
        <div class="row">
            <div class="col-md-8">

                <h1 class="header">
                    The Biggest Loser (6/10)
                </h1>
                <dl>
                    <dt>
                        Decription
                    </dt>
                    <dd>
                        Who has lost the most weight at the end of the week?
                        Marc starts at 75kg
                        Niklas starts at 40kg
                    </dd>
                </dl>
            </div>
            <div class="col-md-4 text-md-right">
                <h2>Money pool</h2><br/>
                300$
            </div>
        </div>
                <div class="row">
                    <div class="col-md-5">
                        <h2 class="pull-left">
                            Outcome <b>#1</b>
                        </h2>    
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>First Name</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>frankinator</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>mrleedkponyfanforever</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>mgs420</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-2">
                        <h1 class="text-center">VS</h1>
                    </div>                    
                    <div class="col-md-5">
                        <h2 class="text-md-right">Outcome <b>#2</b></h2>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Username</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Shadowkiller2</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>denseje1</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>jts</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="lead">
                            Current Judge(s)
                        </p>
                        <ul>
                            <li>Snake</li>
                        </ul>
                    </div>
                </div>

    </form>
        </div>
