@using MVC.ViewModels;

@{
    ViewData["Title"] = "Lobbies";
}

@model LobbiesViewModel

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <h1>
                    Your lobbies
                </h1>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <h3>

                        </h3>
                </div>
                <div class="col-md-6 text-md-right text-sm-left">
                    <a class="btn btn-primary" href="#">Info</a>
                    <a class="btn btn-primary" href="/Lobby/Show/0">View</a>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <h3>
                        
                    </h3>
                </div>
            <div class="col-md-6 text-md-right text-sm-left">
                    <a class="btn btn-primary" href="#">Info</a>
                    <a class="btn btn-primary" href="/Lobby/Show/1">View</a>
            </div>
            </div>
            <div class="row" align="left">
                <a class="btn btn-primary" href="/CreateLobby">Create New Lobby</a>
            </div>
        </div>
    </div>
</div>