
@using MVC.ViewModels;

@{
    ViewData["Title"] = "Invite friend";
}

@model FriendAddViewmodel

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Invite user
                    </h3>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("Index", "Friend", FormMethod.Post, new { @id = "addFriendForm" }))
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group label-floating">
                                    @Html.LabelFor(m => m.Username, new { @class = "control-label" })
                                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Username)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-raised btn-primary">Invite</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#addFriendForm").validate({
                rules: {
                    Username: {
                        required: true
                    }
                },

                messages: {
                    Username: {
                        required: "Username is required"
                    }
                },

                submitHandler: function (form) {
                    form.submit();
                }
            });

            findErrorTags();
        });
    </script>
}
