
@using MVC.ViewModels;

@{
    ViewData["Title"] = "friends";
}

@model MVC.ViewModels.FriendAddViewmodel

<div class="container">

    <form method="post">
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Add friend</h3>
                </div>
                <div class="panel-body">
                    <div class="row form-group label-floating">
                        <p style="text-align: left; font-size: 20px"><b>Type in username</b></p><br />
                        <input type="text" id="UserNamesername" name="Username" value="@Model.Username" /> <br />
                    </div>
                    <div class="row form-group label-floating">
                        <input type="submit" value="Add Friend" class="btn btn-raised btn-info">
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>

