/* The following two styles are only used for debugging purposes. */
div.row
{
    border: 1px solid;
}

.row + .row
{
    border-top:0;
}

body { padding-top: 70px; }
@media screen and (max-width: 768px) {
    body { padding-top: 0px; }
}

/* Style links in the navbar to have a color change on hover. */
div.navbar a:hover {
    background-color: #19a094 !important;
}

.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;     /* Align the flex-items vertically */
  
}