@{
    ViewData["Title"] = "Create Bet";
}

<div class="container">
    <form asp-controller="CreateLobby" asp-action="post">
        <div class="row">
            <div class="col-md-12">
                <h1 class="header">
                    Create bet
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row form-group label-floating">
                    <label for="betName" class="control-label">Bet name</label>
                    <input type="text" id="betName" name="betName" class="form-control" />
                </div>
                <div class="row form-group label-floating">
                    <label for="BetDescription" class="control-label">Describe your bet</label>
                    <textarea rows="5" id="BetDescription" name="BetDescription" class="form-control"></textarea>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row form-group label-floating">
                    <label for="judgeName" class="control-label">Judge</label>
                    <input type="text" id="judgeName" class="form-control" />
                </div>
                <!--DATE PICKER START #STARTDATE -->
                <div class="row form-group label-floating">
                    <label for="datetimepickerstart" class="control-label">Start date</label>
                    <div class='col-sm-6'>
                        <div class="form-group">
                            <div class='input-group date' id='datetimepickerstart'>
                                <input type='text' class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $(document).ready(function () {
                            $('#datetimepickerstart').datetimepicker();
                        });
                    </script>
                </div>
                <!--DATE PICKER END #STARTDATE -->
                <!--DATE PICKER START #ENDDATE -->
                <div class="row form-group label-floating">
                    <label for="datetimepickerend" class="control-label">End date</label>
                    <div class='col-sm-6'>
                        <div class="form-group">
                            <div class='input-group date' id='datetimepickerend'>
                                <input type='text' class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $(document).ready(function () {
                            $('#datetimepickerend').datetimepicker();
                        });
                    </script>
                </div>
                <!--DATE PICKER END #ENDDATE -->
            </div>
        </div>
        <!-- Note a manual hack here. We wish to align the toggle button and the submit button. We use some custom css,
        but this interferes with pull-right from bootstrap. To circumvent this, we set a manual style on the submit
        button to get it to pull right. -->
        <div class="row vertical-align">
            <div class="col-md-6">
                <div class="togglebutton">
                    <label>
                        End when judged
                        <!-- A few nonblank spaces to get some distance between the toggle button and the text. -->
                        &nbsp; &nbsp;
                        <input id="endonjudged" type="checkbox" checked="">
                    </label>
                </div>
            </div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-primary" style="margin-left: auto;">Create lobby</button>
            </div>
        </div>
    </form>
</div>
