<ul class="nav navbar-nav">
    <li class="dropdown">
        <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Lobbies<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li>
                <a asp-controller="CreateLobby" asp-action="Index">Create Lobby</a>
            </li>
            <li>
                <a asp-controller="LobbyPage" asp-action="Index">Lobbies</a>
            </li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Bets<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li>
                <a asp-controller="CreateBet" asp-action="Index">Create Bet</a>
            </li>
        </ul>
    </li>
</ul>