@{
    ViewData["Title"] = "500 - Error";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron jumbotron-danger">
                <h1>
                    500
                </h1>

                <p>
                    An error occurred while processing your request.
                </p>
                <p>
                    Please contact the admins.
                </p>
            </div>
        </div>
    </div>
</div>
