@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>
                LocalBet helps you make bets with your friends.
            </h3>
            <img src="~/Content/images/handshake-icon.png" width="100" alt=""/>
        </div>
        <div class="col-md-6">
            <h3>
                We could show lobbies and bets here.
            </h3>
        </div>
    </div>
</div>
