/* The following two styles are only used for debugging purposes. */
div.row
{
    border: 0px solid;
}

.row + .row
{
    border-top:0;
}

body {
    padding-top: 70px;
}
@media screen and (max-width: 768px) {
    body {
        padding-top: 70px;
    }

    div.container.body-content {
        padding-left: 0px;
        padding-right: 0px;
    }
}

/* Background for bets (Currently not used, but kept for easy access to the colors. */
.betloser {
    background-color: lightcoral;
}

.betwinner {
    background-color: lightgreen;
}

/* Style links in the navbar to have a color change on hover. */
div.navbar a:hover {
    background-color: #19a094 !important;
}

.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;     /* Align the flex-items vertically */
}

/* Helper to vertically center all content, usefull with the smaller buttons below. */
.table.vert-align tbody > tr > td {
    vertical-align: middle;
}

.table.vert-align tr td a.btn {
    margin-top: 0px;
    margin-bottom: 0px;
}

/*
 * Responsive text aligning
 * http://ohryan.ca/2014/08/14/set-responsive-text-alignment-bootstrap-3/
 */
@media (min-width: 320px) {
.text-xs-left { text-align: left; }
.text-xs-right { text-align: right; }
.text-xs-center { text-align: center; }
.text-xs-justify { text-align: justify; }
}
@media (min-width: 480px) {
  .text-sm-left { text-align: left; }
  .text-sm-right { text-align: right; }
  .text-sm-center { text-align: center; }
  .text-sm-justify { text-align: justify; }
}

@media (min-width: 992px) {
  .text-md-left { text-align: left; }
  .text-md-right { text-align: right; }
  .text-md-center { text-align: center; }
  .text-md-justify { text-align: justify; }
}

@media (min-width: 1200px) {
  .text-lg-left { text-align: left; }
  .text-lg-right { text-align: right; }
  .text-lg-center { text-align: center; }
  .text-lg-justify { text-align: justify; }
}

/*
 * For displaying text with collapsing data
 * http://stackoverflow.com/a/31967516/3365039
 */
[data-toggle="collapse"].collapsed .if-not-collapsed {
    display: none;
}
[data-toggle="collapse"]:not(.collapsed) .if-collapsed {
    display: none;
}
