@using MVC.ViewModels;

@{
    ViewData["Title"] = "Deposit Money";
}

@model  DepositViewModel

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">
                        Deposit Money
                    </h1>
                </div>
                <div class="panel-body">
                    <p style="text-align: left; font-size: 20px">
                        <b>Your balance:</b>
                        <span style="font-size: 18px; color: lawngreen; font-weight: bold;">@Model.CurrentBalance</span>
                    </p>

                    @using (Html.BeginForm("Deposit", "User", FormMethod.Post))
                    {
                        <div class=" form-group label-floating">
                            @Html.LabelFor(m => m.Deposit, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.Deposit, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Deposit)
                        </div>
                        <div>
                            <button type="submit" value="post" name="action:post" class="btn btn-raised btn-primary pull-right">
                                Deposit
                            </button>
                            <button type="reset" class="btn btn-raised pull-left">
                                Reset
                            </button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            findErrorTags();
        });
    </script>
}
