
@using MVC.ViewModels;

@{
    ViewData["Title"] = "Home Page";
}

@model  DepositViewModel

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="header">
                deposit Money
            </h1>
            <h2  class="label" >Your balance: @Model.CurrentBalance </h2>
            

            <form method="post" action="/User/Deposit">
               <div class="row form-group label-floating">
                    @Html.LabelFor(m => m.Deposit, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Deposit, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Deposit, null, new { @class = "help-block" })
                </div>
                <div class="row">
                    <button type="submit" value="post" name="action:post" class="btn btn-primary pull-right">Withdraw</button>
                    <button type="reset" class="btn btn-primary pull-left">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
